beautifulsoup4
chainlit
chromadb
langchain
langchain_community
langchain_core
langchain_huggingface
langchain_text_splitters
markdownify
matplotlib
mlflow
numpy
pandas
PyYAML
ragatouille
s3fs
scipy
tqdm
transformers
rank_bm25
accelerate>=0.26.0
bitsandbytes
vllm
lxml
jsonlines
langchain_chroma
confz
pipreqs