-r requirements.txt
beautifulsoup4
bokeh
collection
datashader
fastparquet
holoviews
ipykernel
jupyter
llama-index
lxml
matplotlib
mlflow
nltk
numba
numpy
pandas
plotly
pyvis
ragatouille
requests
sacremoses
scikit-learn
scipy
scrapy
seaborn
spacy
tensorboardX
tqdm
urllib3
