numpy
beautifulsoup4
accelerate
transformers
sentence_transformers
fastparquet
matplotlib
ipykernel
pandas
scikit-learn
seaborn 
tqdm
requests
jupyter
tensorboardX
plotly
urllib3
numba
scipy
nltk 
scrapy
spacy
collection 
pyvis
collection
datashader
bokeh
holoviews
sacremoses
langchain
llama-index
accelerate
langchain-chroma
bitsandbytes
ragatouille
lxml
mlflow
chainlit